<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../resources/css/font_materialize.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.css" media="screen,projection">
  <link rel="stylesheet" type="text/css" href="../../resources/css/categorias.css">

  <title>Dashboard-Principal</title>
</head>

<body>
  <header>
    <!--lista de perfil -->
    <ul id="dropdown1" class="dropdown-content">
      <li>
        <a href="#!">Editar Perfil</a>
      </li>
      <li>
        <a href="login.html">
          <i class="material-icons">exit_to_app</i> Cerrar Sesión</a>
      </li>
    </ul>

    <div id="header">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#!" data-target="mobile-demo" class="sidenav-trigger">
              <i class="material-icons">menu</i>
            </a>
            <a href="#!" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">Perfil
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <!--Nav fijo a la izquierda -->
        <ul class="sidenav sidenav-fixed" id="mobile-demo">
          <li>
            <div>
              <a href="principal.html" class="brand-logo center">
                <img src="../../resources/img/logo).png">
              </a>
            </div>
          </li>
          <li>
            <a href="categrorias.html">Categoría</a>
          </li>
          <li>
            <a href="productos.html">Productos</a>
          </li>
          <li>
            <a href="usuarios.html">Usuario</a>
          </li>
        </ul>
      </div>
    </div>

  </header>
  <section>
    <div class="divider"></div>
    <h3>Categorias</h3>
    <div class="container">
      <div class="row">
        <!--se divide la pagina para el nav de la aizquierda-->
        <div class="col s2">
        </div>
        <div class="col s10">
          <div class="card white darken-1">
            <div class="card-content black-text">
              <!--tabla-->
              <table class="responsive-table">
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Buscar Producto</label>
                      </div>
                      <div class="input-field col s2 m2">
                          <button type="submit" class="btn waves-effect btn-floating indigo tooltipped" data-tooltip="Buscar">
                              <i class="material-icons">check</i>
                          </button>
                          <!-- el check circle es lo mismo q el comentario de arriba -->
                      </div>
                      <div class="input-field center-align col s2 m2">
                      <a class="btn waves-effect btn-floating green tooltipped modal-trigger" href="#modal4" data-tooltip="Agregar">
                        <i class="material-icons left">add</i></a>
                      </div>
                    </div>
                  </form>
                </div>
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Pan Frances</td>
                    <td class="material-icons tooltipped modal-trigger blue-text" data-position="bottom" data-tooltip="Modificar" href="#modal8">create
                    </td>
                    <td class="material-icons tooltipped red-text" data-position="bottom" data-tooltip="Eliminar">delete</td>
                  </tr>
                  <tr>
                    <td>Pan Dulce</td>
                    <td class="material-icons tooltipped blue-text" data-position="bottom" data-tooltip="Modificar">create</td>
                    <td class="material-icons tooltipped red-text" data-position="bottom" data-tooltip="Eliminar">delete</td>
                  </tr>
                  <tr>
                    <td>Menudos</td>
                    <td class="material-icons tooltipped blue-text" data-position="bottom" data-tooltip="Modificar">create</td>
                    <td class="material-icons tooltipped red-text" data-position="bottom" data-tooltip="Eliminar">delete</td>
                  </tr>
                  <tr>
                    <td>Postres</td>
                    <td class="material-icons tooltipped blue-text" data-position="bottom" data-tooltip="Modificar">create</td>
                    <td class="material-icons tooltipped red-text" data-position="bottom" data-tooltip="Eliminar">delete</td>
                  </tr>
                  <tr>
                    <td>Bebidas</td>
                    <td class="material-icons tooltipped blue-text" data-position="bottom" data-tooltip="Modificar">create</td>
                    <td class="material-icons tooltipped red-text" data-position="bottom" data-tooltip="Eliminar">delete</td>
                  </tr>
                </tbody>
              </table>
              <div class="card-action center">
                <a href="dashboard.html">Regresar</a>
                <!-- Modal de Agregar Producto -->
                <div id="modal4" class="modal">
                  <div class="modal-content">
                    <h4>Agregar Producto</h4>
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s6">
                            <i class="material-icons prefix">a</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                            <label for="icon_prefix2">Nombre de la categoria</label>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agregar</a>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
                  </div>
                </div>

                <!--Modal modificar-->
                <div id="modal8" class="modal">
                  <div class="modal-content">
                    <h4>Modificar Producto</h4>
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s6">
                            <i class="material-icons prefix">a</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                            <label for="icon_prefix2">Nombre de la categoria</label>
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agregar</a>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s2">
        </div>
        <div class="col s10">
          <div class="col l6 s12">
            <h5 class="white-text">Panaderia Shagulito</h5>
            <p class="grey-text text-lighten-4">Dueña de la empresa:Maria Teresa Gamez .</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Contactanos</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="https://www.facebook.com/pg/panaderiashagulito/posts/">Facebook</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3">Correo electronico: panaderiashagulito@gmail.com</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3">Telefono :2260-1390</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <a class="grey-text text-ligthen-4">© 2019 Panaderia Shagulito</a>
          <a class="grey-text text-lighten-4 right" href="#!">Panaderia Shagulito</a>
        </div>
      </div>
    </div>
  </footer>
</body>
<!--Componente de Javascript-->
<script type="text/javascript" src="../../resources/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/Chart.bundle.js"></script>
<script type="text/javascript" src="../../resources/js/Chart.bundle.min.js"></script>
<script type="text/javascript" src="../../resources/js/grafica.js"></script>
<script type="text/javascript" src="../../resources/js/slider.js"></script>
<script type="text/javascript" src="../../resources/js/materialize.js"></script>
<script type="text/javascript" src="../../resources/js/modal.js"></script>
<script type="text/javascript" src="../../resources/js/ini_imput.js"></script>

</html>