<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shagulito</title>
    <!--Import Google Icon Font-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/font_materialize.css">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.css"  media="screen,projection"/>
</head>
<body>
    <h3 class="center-align">Administrar Usuarios</h3>

    <!-- utilice autocomplete para buscar -->
    <div class="row">
        <!-- autocomplete para búscar -->
        <div class="input-field col s6 m6 l4">
            <i class="material-icons prefix">search</i><!-- el search de la izquierda muetrael icono que quires que se vea -->
            <input type="text" id="autocomplete-input"  class="autocomplete"/>
            <label for="autocomplete-input">Buscar</label>
        </div>
        <div class="input-field col s3 m3 l4">
            <button type="submit" class="btn waves-effect green tooltipped" data-tooltip="Buscar"><i class="material-icons">check</i></button><!-- el check circle es lo mismo q el comentario de arriba -->
        </div>

        <!-- Botón para abrir ventana de agregar -->
        <div class="input-field center-align col s3 m3 l4">
        <!-- Modal Trigger -->
            <a href="#modal-agregar" class="btn waves-effect indigo tooltipped modal-trigger" data-tooltip="Agregar"><i class="material-icons">add</i></a>
        </div>
    </div>

    <!-- se crea la tabla q mostrara los registros -->
    <table class="centered striped">
        <thead>
            <tr>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Cargo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Datos</td>
                <td>Random</td>
                <td>No</td>
                <td>Hay</td>
                <td>Base</td>
            </tr>
            <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
                <td>Alan</td>
                <td>Jellybean</td>
            </tr>
            <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
                <td>Jonathan</td>
                <td>Lollipop</td>
            </tr>
        </tbody>
    </table>

    <!-- modal para agregar -->

    <!-- Modal Structure -->
    <div id="modal-agregar" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Agregar Usuario</h4>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="autocomplete-input"  class="validate"/>
                    <label for="autocomplete-input">Nombres</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="autocomplete-input"  class="validate"/>
                    <label for="autocomplete-input">Apellidos</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">phone</i>
                    <input type="text" id="autocomplete-input"  class="validate"/>
                    <label for="autocomplete-input">Telefono</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">email</i>
                    <input type="text" id="autocomplete-input"  class="validate"/>
                    <label for="autocomplete-input">Correo</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">map</i>
                    <input type="text" id="autocomplete-input"  class="validate"/>
                    <label for="autocomplete-input">Cargo</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">lock</i>
                    <input type="text" id="autocomplete-input"  class="validate"/>
                    <label for="autocomplete-input">Contraseña</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">lock</i>
                    <input type="text" id="autocomplete-input"  class="validate"/>
                    <label for="autocomplete-input">Confirmar Contraseña</label>
                </div>
            </div>
        </div>
       <div class="row center-align">
            <a href="#" class="modal-close btn waves-effect red tooltipped " data-tooltip="Cancelar"><i class="material-icons">cancel</i></a>
            <button type="submit" class="btn waves-effect green tooltipped" data-tooltip="Crear"><i class="material-icons">save</i></button>
        </div>
    </div>

    <!-- llaman librerias -->
    <script type="text/javascript" src="../../resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/materialize.js"></script>
    <!-- los script de abajo pasenlos a una archivo.js con los demas .js y lo mandan a llamar como los script de arriba -->
    <!-- inicializa el autocomplete -->
    <script>
        $(document).ready(function(){
        $('input.autocomplete').autocomplete({
        data: {
            "Apple": null,
            "Microsoft": null,
            "Google": 'https://placehold.it/250x250'
                },
            });
        $('.modal').modal();
        });
    </script>
</body>
</html>