<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../resources/css/font_materialize.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.css" media="screen,projection">
  <link rel="stylesheet" type="text/css" href="../../resources/css/usuario.css">

  <title>Dashboard-usuarios</title>
</head>

<body>
  <header>
    <ul id="dropdown1" class="dropdown-content">
      <li>
        <a href="#!">Editar Perfil</a>
      </li>
      <li>
        <a href="login.html">
          <i class="material-icons">exit_to_app</i> Cerrar Sesión</a>
      </li>
    </ul>
    <div id="header">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">

            <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">Perfil
                <i class="material-icons right">arrow_drop_down</i></a>
              </li>
            </ul>
          </div>
        </nav>
        <ul class="sidenav sidenav-fixed" id="mobile-demo slide-out">
          <li>
            <div>
              <a href="principal.html" class="brand-logo center">
                <img src="../../resources/img/logo).png">
              </a>
            </div>
          </li>

          <li>
            <a href="categrorias.html">Categoria</a>
          </li>
          <li>
            <a href="productos.html">Productos</a>
          </li>
          <li>
            <a href="usuarios.html">Usuario</a>
          </li>

        </ul>
      </div>
    </div>

  </header>
  <section>


    <div class="center">
      <div class="divider"></div>
      <h3>Administrar usuarios</h3>
      <div class="container">
        <div class="row">
          <div class="col s2">
          </div>
          <div class="col s10">
            <div class="card white darken-1">
              <div class="card-content black-text">
                <table class="responsive-table">
                  <div class="row">
                    <form class="cols12">
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="material-icons prefix">search</i>
                          <input id="icon-prefix" type="text" class="validate">
                          <label for="icon-prefix">Buscar usuario</label>
                        </div>
                        <div class="input-field col s2 m2">
                            <button type="submit" class="btn waves-effect btn-floating indigo tooltipped" data-tooltip="Buscar">
                                <i class="material-icons">check</i>
                            </button>
                            <!-- el check circle es lo mismo q el comentario de arriba -->
                        </div>
                        <div class="input-field center-align col s2 m2">
                        <a class="btn waves-effect btn-floating green tooltipped modal-trigger" href="#modal" data-tooltip="Agregar">
                          <i class="material-icons">add</i>
                        </a>
                        </div>
                      </div>
                    </form>
                  </div>
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>telefono</th>
                      <th>fecha de nacimiento</th>
                      <th>Dui</th>
                      <th>usuario</th>
                      <th>contraseña</th>
                      <th>Accion</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      
                      <td>Alvin</td>
                      <td>Eclair</td>
                      <td>$0.87</td>
                      <td>$0.87</td>
                      <td>$0.87</td>
                      <td>$0.87</td>
                      <td>$0.87</td>
                      <td class="material-icons tooltipped modal-trigger blue-text" data-position="bottom" data-tooltip="Editar" href="#modal2">create</td>
                      <td class="material-icons tooltipped red-text" data-position="bottom" data-tooltip="Eliminar">delete</td>
                    </tr>
                    <tr>
                      
                      <td>Alan</td>
                      <td>Alan</td>
                      <td>Alan</td>
                      <td>Alan</td>
                      <td>Jellybean</td>
                      <td>Jellybean</td>
                      <td>$3.76</td>
                      <td class="material-icons tooltipped blue-text" data-position="bottom" data-tooltip="Editar">create</td>
                      <td class="material-icons tooltipped red-text" data-position="bottom" data-tooltip="Eliminar">delete</td>
                    </tr>
                    <tr>
                      
                      <td>Alan</td>
                      <td>Lollipop</td>
                      <td>Alan</td>
                      <td>$7.00</td>
                      <td>Alan</td>
                      <td>Lollipop</td>
                      <td>Alan</td>
                      <td class="material-icons tooltipped blue-text" data-position="bottom" data-tooltip="Editar">create</td>
                      <td class="material-icons tooltipped red-text" data-position="bottom" data-tooltip="Eliminar">delete</td>
                    </tr>
                  </tbody>
                </table>
                <div id="modal" class="modal">
                  <div class="modal-content">
                    <h4>agregar usuario</h4>
                    <div class="row">
                      <form action="" class="cols12">
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">person</i>
                          <input id="update_nombres" type="text" name="update_nombres" class="validate" required/>
                          <label for="update_nombres">Nombres</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">person</i>
                          <input id="update_apellidos" type="text" name="update_apellidos" class="validate" required/>
                          <label for="update_apellidos">Apellidos</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">phone</i>
                          <input id="update_correo" type="email" name="update_correo" class="validate" required/>
                          <label for="update_correo">telefono</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">insert_invitation</i>
                          <input id="update_alias" type="text" name="update_alias" class="validate" required/>
                          <label for="update_alias">fecha de nacimiento</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">mode_edit</i>
                          <input id="update_alias" type="text" name="update_alias" class="validate" required/>
                          <label for="update_alias">Dui</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">assignment_ind</i>
                          <input id="update_alias" type="text" name="update_alias" class="validate" required/>
                          <label for="update_alias">Usuario</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">lock</i>
                          <input id="update_alias" type="text" name="update_alias" class="validate" required/>
                          <label for="update_alias">contraseña</label>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                      <i class="material-icons prefix">verified_user</i>Agree</a>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                      <i class="material-icons prefix">no_encryption</i>Cerrar</a>
                  </div>

                </div>

                <div id="modal2" class="modal">
                  <div class="modal-content">
                    <h4>Modificar usuario</h4>
                    <div class="row">
                      <form action="" class="cols12">
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">person</i>
                          <input id="update_nombres" type="text" name="update_nombres" class="validate" required/>
                          <label for="update_nombres">Nombres</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">person</i>
                          <input id="update_apellidos" type="text" name="update_apellidos" class="validate" required/>
                          <label for="update_apellidos">Apellidos</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">phone</i>
                          <input id="update_correo" type="email" name="update_correo" class="validate" required/>
                          <label for="update_correo">telefono</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">insert_invitation</i>
                          <input id="update_alias" type="text" name="update_alias" class="validate" required/>
                          <label for="update_alias">fecha de nacimiento</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">mode_edit</i>
                          <input id="update_alias" type="text" name="update_alias" class="validate" required/>
                          <label for="update_alias">Dui</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">assignment_ind</i>
                          <input id="update_alias" type="text" name="update_alias" class="validate" required/>
                          <label for="update_alias">Usuario</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <i class="material-icons prefix">lock</i>
                          <input id="update_alias" type="text" name="update_alias" class="validate" required/>
                          <label for="update_alias">contraseña</label>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                      <i class="material-icons prefix">verified_user</i>Modificar</a>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                      <i class="material-icons prefix">no_encryption</i>Cerrar</a>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
  </section>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s2">
        </div>
        <div class="col s10">
          <div class="col l6 s12">
            <h5 class="white-text">Panaderia Shagulito</h5>
            <p class="grey-text text-lighten-4">Dueña de la empresa:Maria Teresa Gamez .</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Contactanos</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="https://www.facebook.com/pg/panaderiashagulito/posts/">Facebook</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3">Correo electronico: panaderiashagulito@gmail.com</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3">Telefono :2260-1390</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <a class="grey-text text-ligthen-4">© 2019 Panaderia Shagulito</a>
          <a class="grey-text text-lighten-4 right" href="#!">Panaderia Shagulito</a>
        </div>
      </div>
    </div>
  </footer>

</body>
<script type="text/javascript" src="../../resources/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/Chart.bundle.js"></script>
<script type="text/javascript" src="../../resources/js/Chart.bundle.min.js"></script>
<script type="text/javascript" src="../../resources/js/grafica.js"></script>
<script type="text/javascript" src="../../resources/js/slider.js"></script>
<script type="text/javascript" src="../../resources/js/materialize.js"></script>
<script type="text/javascript" src="../../resources/js/modal.js"></script>
<script type="text/javascript" src="../../resources/js/ini_imput.js"></script>

</html>