header nav{
    /*background: #df6a0a;*/
<<<<<<< HEAD
    background: #fff2e8;
=======
    background: #ebebeb;
>>>>>>> e057b4d14ba659db344329466cca1373d8409ff9
    border: none;
}

header img{
    width: 170px;
    height: 60px;
}

header img.background{
<<<<<<< HEAD
    width: 300px;
=======
    width: 330px;
>>>>>>> e057b4d14ba659db344329466cca1373d8409ff9
    height: 165px;
}

body {
/*    background: #030729;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer{
    background: #233142;
    border: none;
}

footer div.footer-copyright{
    background: #233142;
    border: none;
}

@media only screen and (max-width: 500px) {
    .brand-logo img {
     height: 55px;
    }
}

.material-icons{
    color:orange;
}

