*{
	margin: 0px;
	padding: 0px;
}

#header{
	position: fixed;
	z-index: 999;
}

#header nav{
	background: #810231;
	border: none;
}

#header img {
width: 150px;
height: 65px;
    
}

section{
	text-align: center;
	
}

section span{
    color: black;
}

.divider{
	margin: 50px;
}

body{
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

  .texto{
  	color: black;
  }

  .page-footer{
	background-color: #810231 ;
}
